{% load staticfiles %}
<div id="habitaciones">
    {% for habitacion in habitaciones %}
    <div class="col s10 m4">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text center row">
                <h4 class="card-title">{{habitacion.nombre}}</h4>
                {% for puerta in puertas %}
                {% if puerta.lugar == habitacion %}
                <div id="puerta-{{puerta.id}}" class="valign-wrapper">
                    {% include "puertas.html" %}
                </div>
                {% endif %}
                {% endfor %}
                {% for luz in luces %}
                {% if luz.lugar == habitacion %}
                <div id="luz-{{luz.id}}" class="valign-wrapper">
                    {% include "luces.html" %}
                </div>
                {% endif %}
                {% endfor %}
                {% if habitacion.status %}
                <div class="switch col s5 offset-s7">
                    <label>
                        Off
                        <input type="checkbox" id="{{habitacion.id}}" onclick="habitacion(this.id)" checked="checked">
                        <span class="lever"></span>
                        On
                    </label>
                </div>
                <!-- <a onclick="habitacion(this.id)" id="{{habitacion.id}}" class="card-panel green  darken-4 waves-effect waves-orange btn-large col s12">{{habitacion.nombre}}</a>--><br>
                {% else %}
                <div class="switch col s5 offset-s7">
                    <label>
                        Off
                        <input type="checkbox" id="{{habitacion.id}}" onclick="habitacion(this.id)">
                        <span class="lever"></span>
                        On
                    </label>
                </div>
                <!--<a onclick="habitacion(this.id)" id="{{habitacion.id}}" class="card-panel red  darken-4 waves-effect waves-orange btn-large col s12">{{habitacion.nombre}}</a>--><br>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
