{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Inicio</title>
{% endblock %}
{% block navbar %}
<li><a class="modal-trigger" href="#modal1">Mapa</a></li>
<li>
    {% for alarma in alarmas %}
    {% if alarma.status %}
    <a href="{% url 'module_1:alarma' alarma.id %}" class="green darken-4">Desactivar {{alarma.nombre}} </a>
    {% else %}
    <a href="{% url 'module_1:alarma' alarma.id %}" class="red darken-4">Activar {{alarma.nombre}} </a>
    {% endif %}
    {% endfor %}
</li>
<li><a class="modal-trigger" href="{% url 'module_1:autoluz'%}">Reglas</a></li>
{% endblock %}
{% block content %}
<div class="row">
    {% include "habitaciones.html" %}
</div>

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'omnibus/omnibus.js' %}"></script>

<script>
    // Select a transport implementation:
    var transport = WebSocket; // SockJS can be used alternatively

    // Receive the path for the connection from the django template context:
    var endpoint = '{{ OMNIBUS_ENDPOINT }}';

    // Define connection options:
    var options = {
        // Get the omnibus authentication token:
        autoReconnect: true,
        autoReconnectTimeout: 1000,
        authToken: '{{ OMNIBUS_AUTH_TOKEN }}'
    };

    // Create a new connection using transport, endpoint and options
    var connection = new Omnibus(transport, endpoint, options);
    var channel = connection.openChannel('module_recargar');

    channel.on('reload', function(event) {
        $(event.data.payload.loader).html(event.data.payload.data);
    });

    function habitacion(habitacion_id){

        var data={
            csrfmiddlewaretoken: '{{ csrf_token }}',
            id:habitacion_id,
        }
        $.ajax({
            method: "POST",
            url: "{% url 'module_1:habitacion' %}",
            data: data,
            success:function(result){
                $('#habitaciones').html(result);
                channel.send('reload',{
                    loader:'#habitaciones',
                    data:result,
                });
            },
            error: function(e){
                console.log(e.responseText);
            }
        });
    }
    function luz(luz_id){
        channel.send('luz');
        var data={
            csrfmiddlewaretoken: '{{ csrf_token }}',
            id:luz_id,
        }
        $.ajax({
            method: "POST",
            url: "{% url 'module_1:luz' %}",
            data: data,
            success:function(result){
                var helper="#luz-"+luz_id;
                $(helper).html(result);
                channel.send('reload',{
                    loader:helper,
                    data:result,
                });
            },
            error: function(e){
                console.log(e.responseText);
            }
        });
    }
    function puerta(puerta_id){
        channel.send('puerta');
        var data={
            csrfmiddlewaretoken: '{{ csrf_token }}',
            id:puerta_id,
        }
        $.ajax({
            method: "POST",
            url: "{% url 'module_1:puerta' %}",
            data: data,
            success:function(result){
                var helper="#puerta-"+puerta_id;
                $(helper).html(result);
                channel.send('reload',{
                    loader:helper,
                    data:result,
                });
            },
            error: function(e){
                console.log(e.responseText);
            }
        });
        var status = $('#' + puerta_id).is(':checked');
        console.log(status);
        if (status){
            setTimeout(close_door(puerta_id), 5000)
    }
    }

    function close_door(puerta_id){
        console.log("Auto Closeee!!!!!!");
        channel.send('puerta');
        var data={
            csrfmiddlewaretoken: '{{ csrf_token }}',
            id:puerta_id,
        }
        $.ajax({
            method: "POST",
            url: "{% url 'module_1:puerta' %}",
            data: data,
            success:function(result){
                var helper="#puerta-"+puerta_id;
                $(helper).html(result);
                channel.send('reload',{
                    loader:helper,
                    data:result,
                });
            },
            error: function(e){
                console.log(e.responseText);
            }
        });
    }
</script>
{% endblock %}
