{% extends 'base.html' %}
{% block titulo %}
<title>Inicio</title>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col s10 m3">
        <div class="card brown lighten-2">
            <div class="card-content white-text">
                <span id="habitaciones" class="card-title">Habitaciones</span>
                <br>
                {% include "habitaciones.html" %}
                
            </div>
        </div>
    </div>
    <div class="col s10 m3">
        <div class="card brown lighten-2">
            <div class="card-content white-text">
                <span id="puertas" class="card-title">Puertas</span>
                <br>

                {% include "puertas.html" %}
            </div>
        </div>
    </div>
    <div class="col s10 m3">
        <div class="card brown lighten-2">
            <div class="card-content white-text">
                <span id="luces" class="card-title">Luces</span>
                <br>

                {% include "luces.html" %}
            </div>
        </div>
    </div   >
    <div class="col s10 m3">
        <div class="card brown lighten-2">
            <div class="card-content white-text">
                <span class="card-title">Alarmas</span>
                <br>

                {% for alarma in alarmas %}
                <a href="{% url 'module_1:alarma' alarma.id %}" class="card-panel red lighten-1 waves-effect waves-orange btn-large">{{alarma.nombre}}        {{alarma.status}}<br></a>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    function habitacion(habitacion_id){
        var data={
            csrfmiddlewaretoken: '{{ csrf_token }}',
            id:habitacion_id,
        }
        $.ajax({
            method: "POST",
            url: "{% url 'module_1:habitacion' %}",
            data: data,
            success:function(result){
                $("#habitaciones").html(result);
            },
            error: function(e){
                console.log(e.responseText);
            }
        });
    }
    function luz(luz_id){
        var data={
            csrfmiddlewaretoken: '{{ csrf_token }}',
            id:luz_id,
        }
        $.ajax({
            method: "POST",
            url: "{% url 'module_1:luz' %}",
            data: data,
            success:function(result){
                $("#luces").html(result);
            },
            error: function(e){
                console.log(e.responseText);
            }
        });
    }
    function puerta(puerta_id){
        var data={
            csrfmiddlewaretoken: '{{ csrf_token }}',
            id:puerta_id,
        }
        $.ajax({
            method: "POST",
            url: "{% url 'module_1:puerta' %}",
            data: data,
            success:function(result){
                $("#puertas").html(result);
            },
            error: function(e){
                console.log(e.responseText);
            }
        });
    }
</script>
{% endblock %}
