{% extends 'base.html' %}
{% block titulo %}
<title>Inicio</title>
{% endblock %}
{% block content %}
<div class="row">
    <div class="card brown lighten-2">
        <form action="{% url 'module_1:login' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
                <div class="input-field">
                    <input placeholder="Nombre de usuario" maxlength="30" name="username" id="id_username" type="text" value="">
                </div>
                <div class="input-field">
                    <input placeholder="Contraseña" name="password" id="id_password1" type="password" class="validate" value="">
                </div>
                <div class="right-align">
                    <button class="card-panel red lighten-1 waves-effect waves-orange btn-large" id="log-in" type="submit">
                        <i class="fa fa-paper-plane right"></i>Log In
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    puerta_switch.on('click', function() {

    });
</script>
{% endblock %}
