{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Logs</title>
<link rel="stylesheet" href="{% static 'css/nouislider.css' %}">
<div class="input-field col s12">
    <select>
      <option onChange="getFiltered(this)" value="" disabled selected>Ver por dias</option>
       {% for fecha in fechas %}
      <option value="1">{{fecha}}</option>
        {% endfor %}
    </select>
</div>
{% endblock %}
{% block content %}


<table class="highlight">
    <thead>
        <tr>
            <th data-field="name_luz">Fecha</th>
            <th data-field="name_dia">Elemento</th>
            <th data-field="lugar">Habitacion</th>
            <th data-field="horario">Horario</th>
            <th data-field="status">Status</th>
        </tr>
    </thead>
    <tbody id="logs">
        {% include "logtable.html" %}
    </tbody>
</table>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{% static 'js/nouislider.min.js' %}"></script>
<script>
$(document).ready(function() {
    $('select').material_select();
  });

function getFiltered(){
    alert(document.getElementById("mySelect").selectedIndex);
}

</script>
{% endblock %}
