{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Luz Auto</title>
<link rel="stylesheet" href="{% static 'css/nouislider.css' %}">
{% endblock %}
{% block content %}
<table class="highlight">
    <thead>
        <tr>
            <th data-field="name_luz">Fecha</th>
            <th data-field="name_dia">Elemento</th>
            <th data-field="lugar">Habitacion</th>
            <th data-field="horario">Horario</th>
            <th data-field="status">Status</th>
        </tr>
    </thead>
    <tbody id="logs">
        {% include "logtable.html" %}
    </tbody>
</table>
{% endblock %}
