{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Luz Auto</title>
<link rel="stylesheet" href="{% static 'css/nouislider.css' %}">
{% endblock %}
{% block content %}
<table class="highlight">
    <thead>
        <tr>
            <th data-field="name_regla">Regla Nº</th>
            <th data-field="name_luz">Luz</th>
            <th data-field="name_dia">Dias</th>
            <th data-field="horario">Horario</th>
            <th data-field="status">Status</th>
        </tr>
    </thead>
    <tbody id="tabla">

        <tr class="parent"><td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a id="{{rule.id}}" class="hidden right black-text" style="cursor:pointer;" onclick="del_rule(this)"><i class="material-icons">delete</i></a>
            </td>
        </tr>

    </tbody>
</table>
{% endblock %}