{% load staticfiles %}
{% if luz.status %}
<p class="col m6 s12 valign">{{luz.nombre}}</p>
<div class="switch col m6 s12">
    <label>
        Off
        <input type="checkbox" onclick="luz({{luz.id}})" checked="checked">
        <span class="lever"></span>
        On
    </label>
</div>
<br>
<!--<a onclick="luz({{luz.id}})" class="card-panel green darken-4 waves-effect waves-orange btn-large col s12">Apagar    {{luz.nombre}}</a>-->
{% else %}
<p class="col m6 s12 valign">{{luz.nombre}}</p>
<div class="switch col m6 s12">
    <label>
        Off
        <input type="checkbox" onclick="luz({{luz.id}})">
        <span class="lever"></span>
        On
    </label>
</div>
<br>
<!--<a onclick="luz({{luz.id}})" class="card-panel red darken-4 waves-effect waves-orange btn-large col s12">Prender {{luz.nombre}}</a>-->
{% endif %}

