{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Luz Auto</title>
<link rel="stylesheet" href="{% static 'css/nouislider.css' %}">
{% endblock %}
{% block content %}

<div class="card blue-grey darken-1">
    <div class="input-field col s12">
        <select>
            <option value="1" selected>Domingo</option>
            <option value="2">Lunes</option>
            <option value="3">Martes</option>
            <option value="4">Miercoles</option>
            <option value="5">Jueves</option>
            <option value="6">Viernes</option>
            <option value="7">Sabado</option>
        </select>
        <label>Elije un dia</label>
    </div>
    <br>
    <br>
    <p class="range-field">
      <input type="range" min="0" max="23" />
        <input type="range" id="test5" min="0" max="23" />
    </p>
    <div id="slider"></div>
<div class="input-field col s12">
    <select>
        <option value="1" selected>Domingo</option>
        <option value="2">Lunes</option>
        <option value="3">Martes</option>
        <option value="4">Miercoles</option>
        <option value="5">Jueves</option>
        <option value="6">Viernes</option>
        <option value="7">Sabado</option>
    </select>
    <label>Elije un dia</label>
    <!--ESTO ES PARA VER SIPUEDO PUSHEAR-->
</div>

<div id="slider"></div>


<!-- <table class="responsive-table">
<thead>
<tr>
<th data-field="id-lunes">Lunes</th>
<th data-field="id-martes">Martes</th>
<th data-field="id-miercoles">Miercoles</th>
<th data-field="id-jueves">Jueves</th>
<th data-field="id-viernes">Viernes</th>
<th data-field="id-sabado">Sabado</th>
<th data-field="id-domingo">Domingo</th>
</tr>
</thead>

<tbody>
<tr>
<td>
<a class='dropdown-button btn' id="dp1" data-activates='dropdown1'>AM</a>
<ul id='dropdown1' class='dropdown-content'>
<li><a id="2" onclick="open_modal(this.id)">01:00</a></li>
<li><a id="3" onclick="open_modal(this.id)">02:00</a></li>
<li><a id="4" onclick="open_modal(this.id)">03:00</a></li>
<li><a id="5" onclick="open_modal(this.id)">04:00</a></li>
<li><a id="6" onclick="open_modal(this.id)">05:00</a></li>
<li><a id="7" onclick="open_modal(this.id)">06:00</a></li>
<li><a id="8" onclick="open_modal(this.id)">07:00</a></li>
<li><a id="9" onclick="open_modal(this.id)">08:00</a></li>
<li><a id="10" onclick="open_modal(this.id)">09:00</a></li>
<li><a id="11" onclick="open_modal(this.id)">10:00</a></li>
<li><a id="12" onclick="open_modal(this.id)">11:00</a></li>
<li><a id="13" onclick="open_modal(this.id)">12:00</a></li>
</ul>
</td>

<td>
<a class='dropdown-button btn' id="dp2" data-activates='dropdown2'>AM</a>
<ul id='dropdown2' class='dropdown-content'>
<li><a id="27" onclick="open_modal(this.id)">01:00</a></li>
<li><a id="28" onclick="open_modal(this.id)">02:00</a></li>
<li><a id="29" onclick="open_modal(this.id)">03:00</a></li>
<li><a id="30" onclick="open_modal(this.id)">04:00</a></li>
<li><a id="31" onclick="open_modal(this.id)">05:00</a></li>
<li><a id="32" onclick="open_modal(this.id)">06:00</a></li>
<li><a id="33" onclick="open_modal(this.id)">07:00</a></li>
<li><a id="34" onclick="open_modal(this.id)">08:00</a></li>
<li><a id="35" onclick="open_modal(this.id)">09:00</a></li>
<li><a id="36" onclick="open_modal(this.id)">10:00</a></li>
<li><a id="37" onclick="open_modal(this.id)">11:00</a></li>
<li><a id="38" onclick="open_modal(this.id)">12:00</a></li>
</ul>
</td>

<td>
<a class='dropdown-button btn' id="dp3"data-activates='dropdown3'>AM</a>
<ul id='dropdown3' class='dropdown-content'>
<li><a id="52" onclick="open_modal(this.id)">01:00</a></li>
<li><a id="53" onclick="open_modal(this.id)">02:00</a></li>
<li><a id="54" onclick="open_modal(this.id)">03:00</a></li>
<li><a id="55" onclick="open_modal(this.id)">04:00</a></li>
<li><a id="56" onclick="open_modal(this.id)">05:00</a></li>
<li><a id="57" onclick="open_modal(this.id)">06:00</a></li>
<li><a id="58" onclick="open_modal(this.id)">07:00</a></li>
<li><a id="59" onclick="open_modal(this.id)">08:00</a></li>
<li><a id="60" onclick="open_modal(this.id)">09:00</a></li>
<li><a id="61" onclick="open_modal(this.id)">10:00</a></li>
<li><a id="62" onclick="open_modal(this.id)">11:00</a></li>
<li><a id="63" onclick="open_modal(this.id)">12:00</a></li>
</ul>
</td>

<td>
<a class='dropdown-button btn' id="dp4" data-activates='dropdown4'>AM</a>
<ul id='dropdown4' class='dropdown-content'>
<li><a id="77" onclick="open_modal(this.id)">01:00</a></li>
<li><a id="78" onclick="open_modal(this.id)">02:00</a></li>
<li><a id="79" onclick="open_modal(this.id)">03:00</a></li>
<li><a id="80" onclick="open_modal(this.id)">04:00</a></li>
<li><a id="81" onclick="open_modal(this.id)">05:00</a></li>
<li><a id="82" onclick="open_modal(this.id)">06:00</a></li>
<li><a id="83" onclick="open_modal(this.id)">07:00</a></li>
<li><a id="84" onclick="open_modal(this.id)">08:00</a></li>
<li><a id="85" onclick="open_modal(this.id)">09:00</a></li>
<li><a id="86" onclick="open_modal(this.id)">10:00</a></li>
<li><a id="87" onclick="open_modal(this.id)">11:00</a></li>
<li><a id="88" onclick="open_modal(this.id)">12:00</a></li>
</ul>
</td>

<td>
<a class='dropdown-button btn' id="dp5" data-activates='dropdown5'>AM</a>
<ul id='dropdown5' class='dropdown-content'>
<li><a id="102" onclick="open_modal(this.id)">01:00</a></li>
<li><a id="103" onclick="open_modal(this.id)">02:00</a></li>
<li><a id="104" onclick="open_modal(this.id)">03:00</a></li>
<li><a id="105" onclick="open_modal(this.id)">04:00</a></li>
<li><a id="106" onclick="open_modal(this.id)">05:00</a></li>
<li><a id="107" onclick="open_modal(this.id)">06:00</a></li>
<li><a id="108" onclick="open_modal(this.id)">07:00</a></li>
<li><a id="109" onclick="open_modal(this.id)">08:00</a></li>
<li><a id="110" onclick="open_modal(this.id)">09:00</a></li>
<li><a id="111" onclick="open_modal(this.id)">10:00</a></li>
<li><a id="112" onclick="open_modal(this.id)">11:00</a></li>
<li><a id="113" onclick="open_modal(this.id)">12:00</a></li>
</ul>
</td>

<td>
<a class='dropdown-button btn' id="dp6" data-activates='dropdown6'>AM</a>
<ul id='dropdown6' class='dropdown-content'>
<li><a id="207" onclick="open_modal(this.id)">01:00</a></li>
<li><a id="208" onclick="open_modal(this.id)">02:00</a></li>
<li><a id="209" onclick="open_modal(this.id)">03:00</a></li>
<li><a id="210" onclick="open_modal(this.id)">04:00</a></li>
<li><a id="211" onclick="open_modal(this.id)">05:00</a></li>
<li><a id="212" onclick="open_modal(this.id)">06:00</a></li>
<li><a id="213" onclick="open_modal(this.id)">07:00</a></li>
<li><a id="214" onclick="open_modal(this.id)">08:00</a></li>
<li><a id="215" onclick="open_modal(this.id)">09:00</a></li>
<li><a id="216" onclick="open_modal(this.id)">10:00</a></li>
<li><a id="217" onclick="open_modal(this.id)">11:00</a></li>
<li><a id="218" onclick="open_modal(this.id)">12:00</a></li>
</ul>
</td>

<td>
<a class='dropdown-button btn' id="dp7" data-activates='dropdown7'>AM</a>
<ul id='dropdown7' class='dropdown-content'>
<li><a id="232" onclick="open_modal(this.id)">01:00</a></li>
<li><a id="233" onclick="open_modal(this.id)">02:00</a></li>
<li><a id="234" onclick="open_modal(this.id)">03:00</a></li>
<li><a id="235" onclick="open_modal(this.id)">04:00</a></li>
<li><a id="236" onclick="open_modal(this.id)">05:00</a></li>
<li><a id="237" onclick="open_modal(this.id)">06:00</a></li>
<li><a id="238" onclick="open_modal(this.id)">07:00</a></li>
<li><a id="239" onclick="open_modal(this.id)">08:00</a></li>
<li><a id="240" onclick="open_modal(this.id)">09:00</a></li>
<li><a id="241" onclick="open_modal(this.id)">10:00</a></li>
<li><a id="242" onclick="open_modal(this.id)">11:00</a></li>
<li><a id="243" onclick="open_modal(this.id)">12:00</a></li>
</ul>
</td>
</tr>
</tbody>
</table>

<table class="responsive-table">
<tbody>
<tr>
<td>
<a class='dropdown-button btn' id="dp1" data-activates='dropdown1'>PM</a>
<ul id='dropdown1' class='dropdown-content'>
<li><a id="2" onclick="open_modal(this.id)">01:00</a></li>
<li><a id="3" onclick="open_modal(this.id)">02:00</a></li>
<li><a id="4" onclick="open_modal(this.id)">03:00</a></li>
<li><a id="5" onclick="open_modal(this.id)">04:00</a></li>
<li><a id="6" onclick="open_modal(this.id)">05:00</a></li>
<li><a id="7" onclick="open_modal(this.id)">06:00</a></li>
<li><a id="8" onclick="open_modal(this.id)">07:00</a></li>
<li><a id="9" onclick="open_modal(this.id)">08:00</a></li>
<li><a id="10" onclick="open_modal(this.id)">09:00</a></li>
<li><a id="11" onclick="open_modal(this.id)">10:00</a></li>
<li><a id="12" onclick="open_modal(this.id)">11:00</a></li>
<li><a id="13" onclick="open_modal(this.id)">12:00</a></li>
</ul>
</td>

<td>
<a class='dropdown-button btn' id="dp2" data-activates='dropdown2'>PM</a>
<ul id='dropdown2' class='dropdown-content'>
<li><a id="27" onclick="open_modal(this.id)">01:00</a></li>
<li><a id="28" onclick="open_modal(this.id)">02:00</a></li>
<li><a id="29" onclick="open_modal(this.id)">03:00</a></li>
<li><a id="30" onclick="open_modal(this.id)">04:00</a></li>
<li><a id="31" onclick="open_modal(this.id)">05:00</a></li>
<li><a id="32" onclick="open_modal(this.id)">06:00</a></li>
<li><a id="33" onclick="open_modal(this.id)">07:00</a></li>
<li><a id="34" onclick="open_modal(this.id)">08:00</a></li>
<li><a id="35" onclick="open_modal(this.id)">09:00</a></li>
<li><a id="36" onclick="open_modal(this.id)">10:00</a></li>
<li><a id="37" onclick="open_modal(this.id)">11:00</a></li>
<li><a id="38" onclick="open_modal(this.id)">12:00</a></li>
</ul>
</td>

<td>
<a class='dropdown-button btn' id="dp3"data-activates='dropdown3'>PM</a>
<ul id='dropdown3' class='dropdown-content'>
<li><a id="52" onclick="open_modal(this.id)">01:00</a></li>
<li><a id="53" onclick="open_modal(this.id)">02:00</a></li>
<li><a id="54" onclick="open_modal(this.id)">03:00</a></li>
<li><a id="55" onclick="open_modal(this.id)">04:00</a></li>
<li><a id="56" onclick="open_modal(this.id)">05:00</a></li>
<li><a id="57" onclick="open_modal(this.id)">06:00</a></li>
<li><a id="58" onclick="open_modal(this.id)">07:00</a></li>
<li><a id="59" onclick="open_modal(this.id)">08:00</a></li>
<li><a id="60" onclick="open_modal(this.id)">09:00</a></li>
<li><a id="61" onclick="open_modal(this.id)">10:00</a></li>
<li><a id="62" onclick="open_modal(this.id)">11:00</a></li>
<li><a id="63" onclick="open_modal(this.id)">12:00</a></li>
</ul>
</td>

<td>
<a class='dropdown-button btn' id="dp4" data-activates='dropdown4'>PM</a>
<ul id='dropdown4' class='dropdown-content'>
<li><a id="77" onclick="open_modal(this.id)">01:00</a></li>
<li><a id="78" onclick="open_modal(this.id)">02:00</a></li>
<li><a id="79" onclick="open_modal(this.id)">03:00</a></li>
<li><a id="80" onclick="open_modal(this.id)">04:00</a></li>
<li><a id="81" onclick="open_modal(this.id)">05:00</a></li>
<li><a id="82" onclick="open_modal(this.id)">06:00</a></li>
<li><a id="83" onclick="open_modal(this.id)">07:00</a></li>
<li><a id="84" onclick="open_modal(this.id)">08:00</a></li>
<li><a id="85" onclick="open_modal(this.id)">09:00</a></li>
<li><a id="86" onclick="open_modal(this.id)">10:00</a></li>
<li><a id="87" onclick="open_modal(this.id)">11:00</a></li>
<li><a id="88" onclick="open_modal(this.id)">12:00</a></li>
</ul>
</td>

<td>
<a class='dropdown-button btn' id="dp5" data-activates='dropdown5'>PM</a>
<ul id='dropdown5' class='dropdown-content'>
<li><a id="102" onclick="open_modal(this.id)">01:00</a></li>
<li><a id="103" onclick="open_modal(this.id)">02:00</a></li>
<li><a id="104" onclick="open_modal(this.id)">03:00</a></li>
<li><a id="105" onclick="open_modal(this.id)">04:00</a></li>
<li><a id="106" onclick="open_modal(this.id)">05:00</a></li>
<li><a id="107" onclick="open_modal(this.id)">06:00</a></li>
<li><a id="108" onclick="open_modal(this.id)">07:00</a></li>
<li><a id="109" onclick="open_modal(this.id)">08:00</a></li>
<li><a id="110" onclick="open_modal(this.id)">09:00</a></li>
<li><a id="111" onclick="open_modal(this.id)">10:00</a></li>
<li><a id="112" onclick="open_modal(this.id)">11:00</a></li>
<li><a id="113" onclick="open_modal(this.id)">12:00</a></li>
</td>

<td>
<a class='dropdown-button btn' id="dp6" data-activates='dropdown6'>PM</a>
<ul id='dropdown6' class='dropdown-content'>
<li><a id="207" onclick="open_modal(this.id)">01:00</a></li>
<li><a id="208" onclick="open_modal(this.id)">02:00</a></li>
<li><a id="209" onclick="open_modal(this.id)">03:00</a></li>
<li><a id="210" onclick="open_modal(this.id)">04:00</a></li>
<li><a id="211" onclick="open_modal(this.id)">05:00</a></li>
<li><a id="212" onclick="open_modal(this.id)">06:00</a></li>
<li><a id="213" onclick="open_modal(this.id)">07:00</a></li>
<li><a id="214" onclick="open_modal(this.id)">08:00</a></li>
<li><a id="215" onclick="open_modal(this.id)">09:00</a></li>
<li><a id="216" onclick="open_modal(this.id)">10:00</a></li>
<li><a id="217" onclick="open_modal(this.id)">11:00</a></li>
<li><a id="218" onclick="open_modal(this.id)">12:00</a></li>
</ul>
</td>

<td>
<a class='dropdown-button btn' id="dp7" data-activates='dropdown7'>PM</a>
<ul id='dropdown7' class='dropdown-content'>
<li><a id="232" onclick="open_modal(this.id)">01:00</a></li>
<li><a id="233" onclick="open_modal(this.id)">02:00</a></li>
<li><a id="234" onclick="open_modal(this.id)">03:00</a></li>
<li><a id="235" onclick="open_modal(this.id)">04:00</a></li>
<li><a id="236" onclick="open_modal(this.id)">05:00</a></li>
<li><a id="237" onclick="open_modal(this.id)">06:00</a></li>
<li><a id="238" onclick="open_modal(this.id)">07:00</a></li>
<li><a id="239" onclick="open_modal(this.id)">08:00</a></li>
<li><a id="240" onclick="open_modal(this.id)">09:00</a></li>
<li><a id="241" onclick="open_modal(this.id)">10:00</a></li>
<li><a id="242" onclick="open_modal(this.id)">11:00</a></li>
<li><a id="243" onclick="open_modal(this.id)">12:00</a></li>
</ul>
</td>
</tr>
</tbody>
</table>-->
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/nouislider.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('select').material_select();
    });

    var slider = document.getElementById('slider');
    noUiSlider.create(slider, {
        start: [1, 22],
        connect: true,
        step: 1,
        range: {
            'min': 0,
            'max': 23
        }
    });

</script>
{% endblock %}
