{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Luz Auto</title>
<link rel="stylesheet" href="{% static 'css/nouislider.css' %}">
{% endblock %}
{% block content %}


<div class="input-field col s12">
    <select>
        <option value="1" selected>Domingo</option>
        <option value="2">Lunes</option>
        <option value="3">Martes</option>
        <option value="4">Miercoles</option>
        <option value="5">Jueves</option>
        <option value="6">Viernes</option>
        <option value="7">Sabado</option>
    </select>
    <label>Elije un dia</label>
</div>

<div id="slider"></div>

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/nouislider.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('select').material_select();
    });

    var slider = document.getElementById('slider');
    noUiSlider.create(slider, {
        start: [20, 80],
        connect: true,
        step: 1,
        range: {
            'min': 0,
            'max': 100
        },
        format:{
            to: minutesToHHMM,
            from: HHMMtoMinutes
        },
    });

    function minutesToHHMM(value) {
        value = Math.round(value);
        var hour = Math.floor(value / 60);
        var min = value - hour * 60;
        //console.log("value:" + value + "\thour: " + hour + "\tmin: " + min)
        return ("0" + hour).slice(-2) + ":" + ("0" + min).slice(-2);
    }

    function HHMMtoMinutes(value) {
        var split = value.toString().split(":");
        var hour = parseInt(split[0]) * 60;
        var min = parseInt(split[1]);
        //console.log("value: " + value + "\thour: " + hour + "\tmin " + min);
        return hour + min;
    }

</script>
{% endblock %}
