{% load static %}
<hmtl>
    <head>
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
        <link rel="stylesheet" href="{% static 'css/my_style.css' %}">
        <title>Perfil</title>
    </head>
    
    <body class="blue-grey darken-3">
        <script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>    

    <body>
        <script type="text/javascript" src="{% static 'js/jquery-1.11.3.js' %}"></script>

        <div align="center" style="margin-top:15%;">
            <div><img style="margin-top:15%;width:80px;height:80px;" 
                      src="{{ picture }}" align="middle">
            </div>

            <div style="color:black;">
                <h4>{{username}}</h4>
            </div>
        </div>
        
    </body>





</hmtl>
