{% load static %}
<hmtl>
    <head>
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
        <link rel="stylesheet" href="{% static 'css/my_style.css' %}">
        <title>Perfil</title>
    </head>

    <body class="blue-grey darken-3">
        <script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>    

        <div align="center" style="margin-top:15%;">
            <div><img src="{% static 'img/profilepicture.jpg' %}" align="middle">
            </div>

            <div style="color:black;">
                <h4>{{username}}</h4>
            </div>
        </div>
        
    </body>





</hmtl>
