{% load staticfiles %}
{% if puerta.status %}
<p class="col m6 s12 valign">{{puerta.nombre}}</p>
<div class="switch col m6 s12">
    <label>
        Off
        <input type="checkbox" id="{{puerta.id}}" onclick="puerta(this.id)" checked="checked">
        <span class="lever"></span>
        On
    </label>
</div>
<!--<a onclick="puerta(this.id)" id="{{puerta.id}}" class="card-panel green darken-4 waves-effect waves-orange btn-large col s12">Cerrar {{puerta.nombre}} </a>--><br>
{% else %}
<p class="col m6 s12 valign">{{puerta.nombre}}</p>
<div class="switch col m6 s12">
    <label>
        Off
        <input type="checkbox" id="{{puerta.id}}" onclick="puerta(this.id)">
        <span class="lever"></span>
        On
    </label>
</div>
<!--<a onclick="puerta(this.id)" id="{{puerta.id}}" class="card-panel red darken-4 waves-effect waves-orange btn-large col s12">Abrir {{puerta.nombre}} </a>--><br>
{% endif %}

