{% for rule in rules %}
<tr class="parent"><td>{{rule.id}}</td>
    <td>{{rule.relacion}}</td>
    <td>
        {% if rule.lun %}
        Lunes,
        {% endif %}
        {% if rule.mar %}
        Martes,
        {% endif %}
        {% if rule.mie %}
        Miercoles,
        {% endif %}
        {% if rule.jue %}
        Jueves,
        {% endif %}
        {% if rule.vie %}
        Viernes,
        {% endif %}
        {% if rule.sab %}
        Sabado,
        {% endif %}
        {% if rule.dom %}
        Domingo
        {% endif %}
    </td>
    <td>{{rule.from_hour}} - {{rule.to_hour}}</td>
    <td>{{rule.status}}<a class="hidden right" onclick="del_rule(this)"><i class="material-icons">delete</i></a>
    </td>
</tr>
{% endfor %}
