.input-field input[type=text]:focus, .input-field textarea.materialize-textarea:focus, .input-field input[type=password]:focus, .input-field input[type=email]:focus {
    border-bottom: 1px solid #EF5350;
    box-shadow: 0 1px 0 0 #EF5350;
}

.switch label input[type="checkbox"]:checked + .lever{
    background-color:#1B5E20;
}

.switch label .lever{
    background-color:#B71C1C;
}

.switch label input[type="checkbox"]:checked + .lever::after{
    background-color:white;
}

.switch label input[type="checkbox"]+ .lever::after{
    background-color:white;
}

label{
    color: white;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
